@tailwind base;
@tailwind components;
@tailwind utilities;

.slider ::-webkit-slider {
  display: none;
}
#carts {
  display: none;
}
#image:hover #carts {
  display: flex;
  left: 30px;
  transition: 5s;
}
